@import '~Style/variable';

:local {
  .container {
    display: flex;
    width: 50%;
    max-width: 40rem;
    border: 0;
    margin: 0 0 $spacing-small;
    padding: 0;
  }

  .item {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-bottom: $spacing-large;

    &:not(:first-child) {
      margin-left: $spacing-medium;
    }
  }
}
