@import '~Style/variable';

:local {
  .head {
    font-size: 1.6rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: $brand-light;
  }

  .list {
    display: flex;
    line-height: 0;
    margin: 0;
    padding: $spacing-small $spacing-large;

    > li {
      list-style-type: none;
      padding: 0 $spacing-large;;
      margin: 0;
      color: $brand-light;
    }
  }

  .link {
    color: $brand-light;

    &:hover {
      color: $brand-tertiary;
    }
  }

  .active {
    border-bottom: .01rem solid $brand-light;

    &:hover {
      border-bottom: .01rem solid $brand-tertiary;
    }
  }
}
