@import '~Style/variable';

:local {
  .container {
    color: $body-color;
    background: $gray-light;
    padding: $spacing-medium;
    margin: $spacing-medium 0;
  }

  .panel {
    width: 80%;
    max-width: 60rem;
    display: flex;
    color: $body-color;

    > div {
      width: 50%;
    }
  }

  .header {
    margin: 0 $spacing-medium 0 0;
    padding: $spacing-extra-small 0 $spacing-extra-small $spacing-extra-small;
  }

  .current {
    background: darken($brand-primary, 30%);
    color: $brand-light;
  }
}
