html,
body {
  font-family: $font-family;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 300;
  font-family: $font-family;
  color: $body-color;
}

p {
  margin: $spacing-medium 0;
}

a {
  color: $btn-primary-bg;
  text-decoration: none;

  &:hover {
    color: $btn-primary-hover-bg;
    transition: color .1s ease;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

:global(.sr-only),
[aria-hidden="true"] {
  position: absolute;
  width: .1rem;
  height: .1rem;
  padding: 0;
  margin: -.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
