:global {
  button,
  .button {
    display: inline-block;
    font: bold 1.1rem/1.2 $font-family;
    text-align: center;
    text-transform: uppercase;
    border-radius: $border-radius;
    border: .1rem solid $btn-primary-bg;
    background: $btn-primary-bg;
    cursor: pointer;
    box-sizing: border-box;
    padding: $spacing-small;
    color: $brand-light;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
      color: $brand-light;
      border-color: $btn-primary-hover-bg;
      background-color: $btn-primary-hover-bg;
      transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    }

    &[disabled] {
      background-color: $button-disabled;
    }
  }
}
