:global {
  .page__container {
    display: grid;
    min-height: calc(100vh - #{$spacing-medium});
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: $menu-main 1fr 1.8rem;
    grid-gap: 0;
  }

  .header__container {
    grid-area: header;
    background: $brand-dark;
    display: flex;
    padding: $spacing-small;
  }

  .main__container {
    grid-area: content;
    padding: $spacing-medium $spacing-small;
  }

  .footer__container {
    grid-area: footer;
    padding: $spacing-medium;
    text-align: center;
    font-size: 1rem;
    min-width: $site-width;
    justify-self: center;
  }
}
