h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.1rem;
  line-height: 1.3;
}

h4 {
  font-size: 2rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: $spacing-extra-small;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
}
