ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

ul,
ol {
  margin: $spacing-large $spacing-medium $spacing-large 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: $spacing-large 0 $spacing-large $spacing-large;
}

li {
  margin-bottom: 1rem;
}

:global {

  .style-none__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .inline__list {
    display: flex;
    margin-left: 0;
    padding: 0;

    > li {
      list-style-type: none;
      padding: $spacing-medium;
    }

    > li:first-child {
      padding-left: 0;
    }
  }
}
