$brand-primary: #875EEA;
$brand-secondary: #000;
$brand-tertiary: #ECE5FC;
$brand-quaternary: #054A91;
$brand-quinary: #F1B82D;
$brand-senary: #17BEBB;

$brand-error: #F2BDC7;
$brand-colour-error: darken($brand-primary, 20%);
$brand-success: #DBFDFF;
$brand-colour-success: darken($brand-senary, 10%);
$brand-info: #b89960;
$brand-colour-info: #FFEBCD;

$brand-light: #FFF;
$brand-dark: #000;

$gray-dark: #444;
$gray-light: #EEE;
$gray-lighter: lighten($gray-light, 20%);

$body-bg: #FFF;
$body-color: #333;
$site-width: 120rem;

$menu-main: 3.6rem;
$menu-section: 5rem;
$menu-page: 3.6rem;

$spacing-extra-small: .5rem;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;
$font-size-form: 1.2rem;
$font-size-base: .875rem;
$font-family: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$border-radius: .4rem;

$screen-xs: 54.4rem;
$screen-sm-min: 76.8rem;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 99.2rem;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 120rem;
$screen-md-max: ($screen-lg-min - 1);

$btn-primary-bg: $brand-quaternary;
$btn-primary-hover-bg: lighten($brand-quaternary, 15%);
$btn-start-bg: #137413;
$btn-start-hover-bg: lighten($btn-start-bg, 15%);
$btn-dice-bg: $brand-quinary;
$btn-dice-hover-bg: lighten($brand-quinary, 15%);

$button-disabled: #787878;

$messageBk: lighten($brand-primary, 30%);
$messageDark: darken($brand-primary, 35%);
