@import "~Style/variable";

:local {
  .container {
    padding: $spacing-small;
  }

  .dice {
    height: 100px;
    width: 100px;
    animation: pulse 3s ease infinite alternate;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @keyframes pulse {
    0% {
      background-image: url("../../../assets/image/dice/two.svg");
    }
    10% {
      background-image: url("../../../assets/image/dice/three.svg");
    }
    30% {
      background-image: url("../../../assets/image/dice/one.svg");
    }
    45% {
      background-image: url("../../../assets/image/dice/five.svg");
    }
    60% {
      background-image: url("../../../assets/image/dice/six.svg");
    }
    75% {
      background-image: url("../../../assets/image/dice/four.svg");
    }
    90% {
      background-image: url("../../../assets/image/dice/six.svg");
    }
    100% {
      background-image: url("../../../assets/image/dice/one.svg");
    }
  }

  .dice1 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/one.svg") 0 0 no-repeat;
  }

  .dice1 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/one.svg") 0 0 no-repeat;
  }

  .dice2 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/one.svg") 0 0 no-repeat;
  }

  .dice3 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/two.svg") 0 0 no-repeat;
  }

  .dice4 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/three.svg") 0 0 no-repeat;
  }

  .dice4 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/four.svg") 0 0 no-repeat;
  }

  .dice5 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/five.svg") 0 0 no-repeat;
  }

  .dice6 {
    height: 100px;
    width: 100px;
    background: url("../../../assets/image/dice/six.svg") 0 0 no-repeat;
  }
}
