@import '~Style/variable';

:local {
  .header {
    position: relative;
    margin-left: 3rem;

    &:before {
      position: absolute;
      top: .6rem;
      left: -2.5rem;
      height: 2rem;
      width: 2rem;
      content: '';
      background: url("../../../assets/image/pig.svg") 0 0 no-repeat;
    }
  }

  .message {
    border: 1px solid $brand-primary;
    background: $messageBk;
    color: $messageDark;
    border-radius: $border-radius;
    margin: $spacing-medium 0;
    width: 60%;
    max-width: 60rem;

    > p {
      padding: 0 $spacing-small;
      text-align: center;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
