@import '~Style/variable';

:local {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .head {
    display: inline-block;
    width: 50rem;
    font-size: 2.2em;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
