@import '~Style/variable';

:local {
  .panel {
    button:not(:first-child),
    a:not(:first-child) {
      margin-left: $spacing-medium;
    }
  }

  .dice {
    background-color: $btn-dice-bg;
    border-color: $btn-dice-bg;
    color: $brand-dark;

    &:hover,
    &:focus {
      color: $brand-dark;
      border-color: $btn-dice-hover-bg;
      background-color: $btn-dice-hover-bg;
    }
  }
}
