@import '~Style/variable';

:local {
  .container {
    padding: $spacing-small;
    width: 80%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    background: $gray-light;
    margin: $spacing-medium $spacing-small;
    cursor: pointer;
    color: $body-color;

    &:hover {
      color: $body-color;
      background: lighten($brand-primary, 30%);
    }
  }
}
