@import '~Style/variable';

:local {
  .play {
    border-color: $btn-start-bg;
    background-color: $btn-start-bg;

    &:hover,
    &:focus {
      border-color: $btn-start-hover-bg;
      background-color: $btn-start-hover-bg
    }

    &[disabled] {
      background-color: $button-disabled;
    }
  }
}
